.pattern-radio{float:left;margin: 45px 5px 0 15px;}
.pattern-div{width:82px;height:82px;float:left;}
.pattern-div2{width:82px;height:82px;float:left;}
.pattern-div3{width:82px;height:82px;float:left;}
.pattern-div4{width:82px;height:82px;float:left;}